
.buttong{
    background-color:#365B37
}

.buttonb{
    background-color:#1E5879
}

img.logo{
    opacity:1;
}

img.logo:hover
{
    opacity:1;
}

.buttong:hover { 
    background-color:#1E5879
}

.buttonb:hover { 
    background-color:#365B37
}
